In [11]:
import numpy as np
import pandas as pd
from functools import reduce

In [2]:
city_attributes = pd.read_csv("data/city_attributes.csv")
humidity = pd.read_csv("data/humidity.csv")
pressure = pd.read_csv("data/pressure.csv")
temperature = pd.read_csv("data/temperature.csv")
weather_description = pd.read_csv("data/weather_description.csv")
wind_direction = pd.read_csv("data/wind_direction.csv")
wind_speed = pd.read_csv("data/wind_speed.csv")

In [3]:
def update_column_names(df, attribute):
    columns = df.columns
    columns = [attribute + "_" + columns[i] for i in range(1,len(columns))]
    
    df.columns = ["datetime"] + columns
    
    return df

In [4]:
city_attributes = update_column_names(city_attributes, "city_attributes")
humidity = update_column_names(humidity, "humidity")
pressure = update_column_names(pressure, "pressure")
temperature = update_column_names(temperature, "temperature")
weather_description = update_column_names(weather_description, "weather_description")
wind_direction = update_column_names(wind_direction, "wind_direction")
wind_speed = update_column_names(wind_speed, "wind_speed")

In [5]:
dfs = [humidity, pressure, temperature, weather_description, wind_direction, wind_speed]
hourly_weather_data = reduce(lambda left,right: pd.merge(left,right,on='datetime'), dfs)

In [6]:
def view_city_attributes(df, city, attributes):
    wanted_columns = [attribute +  "_" + city for attribute in attributes]
    return df[wanted_columns]

In [7]:
attributes = ["humidity", "pressure", "temperature", "weather_description", "wind_direction", "wind_speed"]
city = "Denver"
denver = view_city_attributes(hourly_weather_data, city, attributes)
denver = denver.dropna()

In [8]:
denver.head(3)

,humidity_Denver,pressure_Denver,temperature_Denver,weather_description_Denver,wind_direction_Denver,wind_speed_Denver
1,62.0,1028.0,284.610000,light rain,20.0,4.0
2,62.0,1028.0,284.607306,broken clouds,22.0,4.0
3,62.0,1028.0,284.599918,broken clouds,31.0,3.0

In [9]:
denver.describe()

,humidity_Denver,pressure_Denver,temperature_Denver,wind_direction_Denver,wind_speed_Denver
count,43209.000000,43209.000000,43209.000000,43209.000000,43209.000000
mean,53.023190,1011.856303,282.886944,185.524335,2.482816
std,23.895941,42.027940,10.745135,104.086067,2.153799
min,5.000000,800.000000,247.727667,0.000000,0.000000
25%,33.000000,1014.000000,275.127000,100.000000,1.000000
50%,52.000000,1020.000000,283.053000,201.000000,2.000000
75%,73.000000,1025.000000,290.770000,267.000000,3.000000
max,100.000000,1089.000000,313.750000,360.000000,22.000000

In [10]:
denver.to_csv("data/denver_data.csv", index=False)