In [49]:
import numpy as np
import pandas as pd
from functools import reduce

In [56]:
city_attributes = pd.read_csv("historical-hourly-weather-data/city_attributes.csv")
humidity = pd.read_csv("historical-hourly-weather-data/humidity.csv")
pressure = pd.read_csv("historical-hourly-weather-data/pressure.csv")
temperature = pd.read_csv("historical-hourly-weather-data/temperature.csv")
weather_description = pd.read_csv("historical-hourly-weather-data/weather_description.csv")
wind_direction = pd.read_csv("historical-hourly-weather-data/wind_direction.csv")
wind_speed = pd.read_csv("historical-hourly-weather-data/wind_speed.csv")

In [57]:
def update_column_names(df, attribute):
    columns = df.columns
    columns = [attribute + "_" + columns[i] for i in range(1,len(columns))]
    
    df.columns = ["datetime"] + columns
    
    return df

In [58]:
city_attributes = update_column_names(city_attributes, "city_attributes")
humidity = update_column_names(humidity, "humidity")
pressure = update_column_names(pressure, "pressure")
temperature = update_column_names(temperature, "temperature")
weather_description = update_column_names(weather_description, "weather_description")
wind_direction = update_column_names(wind_direction, "wind_direction")
wind_speed = update_column_names(wind_speed, "wind_speed")

In [60]:
dfs = [humidity, pressure, temperature, weather_description, wind_direction, wind_speed]
hourly_weather_data = reduce(lambda left,right: pd.merge(left,right,on='datetime'), dfs)

In [61]:
def view_city_attributes(df, city, attributes):
    wanted_columns = [attribute +  "_" + city for attribute in attributes]
    return df[wanted_columns]

In [67]:
attributes = ["humidity", "pressure", "temperature", "weather_description", "wind_direction", "wind_speed"]
city = "Denver"
denver = view_city_attributes(hourly_weather_data, city, attributes)

In [68]:
denver.head(3)

,humidity_Denver,pressure_Denver,temperature_Denver,weather_description_Denver,wind_direction_Denver,wind_speed_Denver
0,NaN,NaN,NaN,NaN,NaN,NaN
1,62.0,1028.0,284.610000,light rain,20.0,4.0
2,62.0,1028.0,284.607306,broken clouds,22.0,4.0

In [69]:
denver.describe()

,humidity_Denver,pressure_Denver,temperature_Denver,wind_direction_Denver,wind_speed_Denver
count,43445.000000,44710.000000,45252.000000,45252.000000,45251.000000
mean,53.022557,1011.976359,282.839407,184.769005,2.438996
std,23.905392,41.343487,10.673464,104.705030,2.158956
min,5.000000,800.000000,247.727667,0.000000,0.000000
25%,33.000000,1014.000000,275.060000,100.000000,1.000000
50%,52.000000,1020.000000,282.970667,200.000000,2.000000
75%,73.000000,1025.000000,290.680000,268.000000,3.000000
max,100.000000,1089.000000,313.750000,360.000000,22.000000

In [70]:
denver.to_csv("denver_data.csv")