In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from mpl_toolkits import mplot3d
sns.set()

/home/jhallbe/anaconda3/envs/waldo/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/jhallbe/anaconda3/envs/waldo/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/jhallbe/anaconda3/envs/waldo/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/jhallbe/anaconda3/envs/waldo/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/jhallbe/anaconda3/envs/waldo/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

# Load Data

In [5]:
def load_data(data_location):
    return pd.read_csv(data_location)

In [6]:
data_location = "data/denver_data.csv"
df = load_data(data_location)

In [7]:
df.head()

,datetime,humidity_Denver,pressure_Denver,temperature_Denver,weather_description_Denver,wind_direction_Denver,wind_speed_Denver
0,2012-10-01 13:00:00,62.0,1028.0,284.610000,light rain,20.0,4.0
1,2012-10-01 14:00:00,62.0,1028.0,284.607306,broken clouds,22.0,4.0
2,2012-10-01 15:00:00,62.0,1028.0,284.599918,broken clouds,31.0,3.0
3,2012-10-01 16:00:00,62.0,1028.0,284.592530,broken clouds,39.0,3.0
4,2012-10-01 17:00:00,63.0,1028.0,284.585142,broken clouds,47.0,3.0

# Create Series Data

In [23]:
def fill_missing_values(data):
    while data.shape[0] < 24:
    for time in data["datetime"].str:
            print(time)
    print(data.shape)
        
    
def series(data, time):
    # returns 24 hours of series data for a given time.
    # time is in the year-month-day format with no hours.
    time_series = df.loc[df['datetime'].str.startswith(time)]
#     time_series = fill_missing_values(time_series)
    
    return time_series

In [24]:
fill_missing_values(series(df, "2012-10-01"))

(11, 7)